@font-face {
    font-family: "GrueneType";
    src: url("../../assets/fonts/GrueneType.woff2") format("woff2");
}

$tanne:#005437;
$klee: #008939;
$gras: #8abd24;
$sand: #f5f1e9;

body {
    padding: 0;
    margin: 0;
}

#canvas {
    zoom: 1;
}

#sharepic {
    background-size: cover;
    width: 500px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.text {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;

    p {
        display: inline;
        color: white;
        font-family: "GrueneType", sans-serif;
        white-space: nowrap;
        margin: 0;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: -20px;
            background-color: #005437;
            transform: skew(-9deg, 0);
            width: calc(100% + 40px);
            height: 100%;
            z-index: -1;
        }

        &.sandtanne{
            color: $sand;
            &::before {
                background-color: $tanne;
            }
        }
        &.tannesand{
            color: $tanne;
            &::before {
                background-color: $sand;
            }
        }
        &.sandklee{
            color: $sand;
            &::before {
                background-color: $klee;
            }
        }
        &.kleesand{
            color: $klee;
            &::before {
                background-color: $sand;
            }
        }
        &.grastanne{
            color: $gras;
            &::before {
                background-color: $tanne;
            }
        }
        &.tannegras{
            color: $tanne;
            &::before {
                background-color: $gras;
            }
        }
    }
}

.eyecatcher {
    border-radius: 50%;
    background-color: #0ba1dd;
    color: white;
    aspect-ratio: 1;
    rotate: -9deg;
    margin: 0;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        margin: 0;
        padding: 0;
        font-family: "GrueneType", sans-serif;
        line-height: 1em;
        text-align: center;
        font-size: 1.4em;
    }
}

.logo {
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    aspect-ratio: 1;
}

.draggable {
    position: absolute;
    top: 0;
    left: 0;
}