vendor/
node_modules/
httpdocs/assets/script.js
httpdocs/assets/styles.css
httpdocs/public_savings/*
users/
users.db
config.ini
*.log
test-results/
playwright-report/
blob-report/
playwright/.cache/
tests/*js-snapshots/
tests/tmp/*
tmp/*
de.po~
.vscode
httpdocs/qrcodes/*.png
