vendor/
node_modules/
assets/script.js
assets/styles.css
public/users/
users.db
config.ini
*.log
test-results/
playwright-report/
blob-report/
playwright/.cache/
tests/*js-snapshots/
tests/tmp/*
public/tmp/*
de.po~