#sharepic {
    background-size: cover;
    width: 500px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: 'Courier New', Courier, monospace !important;

    h1{
        font-family: 'Courier New', Courier, monospace;
    }

    .text {
      
    }

    .eyecatcher {
        border-radius: 50%;
        background-color: palevioletred;
        color: white;
        aspect-ratio: 1;
        rotate: -9deg;
        margin: 0;
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            margin: 0;
            padding: 0;
            line-height: 1em;
            text-align: center;
            font-size: 1.4em;
        }
    }

    .logo {
        background-size: contain;
        background-repeat: no-repeat;
        width: 100px;
        aspect-ratio: 1;
    }

    .draggable {
        position: absolute;
        top: 0;
        left: 0;
    }
}
