<div id="sharepic" style="background-image: url('templates/einigungshilfe/start.jpg');width: 800px; height:600px;border:0;" data-width="800" data-height="600" data-zoom="1" class="selectable" data-cockpit="background">
    <link rel="stylesheet" href="templates/mint/styles.css?rand=3">
    <div id="text" class="text draggable selectable ql-container ql-bubble" data-cockpit="freetext" style="z-index: 3; left: 192px; top: 139px; font-size: 54px; font-family: SaunaPro;">
        <p>Einigungshilfe</p><p>Das Mediationsbüro</p>
    </div>

    <div class="eyecatcher draggable selectable" data-cockpit="eyecatcher" id="eyecatcher" contenteditable="true" style="z-index:2; left: 12px; top: 260px; font-size: 20px;rotate: 0deg;background-color:rgb(255, 177, 0);font-family: SaunaPro;">
        <p>Jetzt</p><p>anmelden</p>
    </div>
    <div class="logo draggable selectable" data-cockpit="logo" id="logo" draggable="" style="background-image: url('templates/einigungshilfe/logo.svg'); z-index: 1; width: 200px; left: 29px; top: 41px;"></div>
    <div id="top-margin" style="height:4.7%;width:100%;position:absolute;top:0;background-color: #73abda;">
        <div id="top-margin-right" style="height: 100%;width:30%;position: absolute; right:0;background-color: #2d81c9;"></div>
    </div>
</div>

<div id="patterns">
    <div data-id="eyecatcher" data-max="1" data-class="eyecatcher draggable selectable" data-cockpit="eyecatcher" contenteditable="true"  style="z-index:2; left: 12px; top: 260px; font-size: 20px;rotate: 0deg;background-color:rgb(255, 177, 0);font-family: SaunaPro;"><p>Störer</p></div>
</div>