<div id="sharepic" style="background-image: url('templates/mint/start.jpg?r=1'); background-color: #ffffff; background-repeat: no-repeat; background-position: 0px 0px; width: 800px; height:600px;border:0;" data-width="800" data-height="600" data-zoom="1" class="selectable" data-cockpit="background">
    <div id="text" class="text draggable selectable" data-cockpit="freetext" style="
        z-index:3; 
        left: 120px; 
        top: 100px; 
        font-size: 20px;
        color: black;
        font-family: Calibri;
        ">
        <h1>Dein Sharepicgenerator</h1>
        <p>Probiere ihn jetzt aus und lerne, wie er Dir im Alltag hilft.</p>
    </div>
    
    <div id="copyright" class="selectable" data-cockpit="copyright" contenteditable="true" spellcheck="false"
        style="
            font-size: 14px;
            color: #000000;
        ">
    </div>
</div>

<div id="patterns">
    <div    data-id="eyecatcher" 
            data-class="eyecatcher draggable selectable" 
            data-cockpit="eyecatcher" 
            contenteditable="true" 
            oninput="eyecatcher.makeSquare(this)"
            onclick="component.select(this)"
            onmousedown="component.startDrag(event)"
            style="
                z-index:2; 
                left: 12px; top: 260px; 
                font-size: 20px; 
                color: #e9e9e9; 
                background-color: #47991e;
                transform: rotate(351deg);
                text-align: center;
            "
    >
        <p>MUSTER</p>
    </div>


    <div    data-class="addpicture draggable selectable" 
    data-cockpit="addpicture" 
    data-id="addpicture" 
    style="
        align-items: center;
        position: absolute;
        left:300px; top:290px;
    ">
        <div class="ap_image" style="
            background-image: url('templates/mint/addpic.jpg');
            background-size: cover; 
            width: 100px; 
            aspect-ratio: 1; 
            border-radius: 50%;"
        ></div>
        <div class="ap_text" contenteditable="true" style="
            display: flex; 
            justify-content: center;
            color: #ffffff;
        ">Bildbeschreibung</div>
    </div>
</div>

<script>
    document.querySelector('head').insertAdjacentHTML('beforeend', '<link rel="stylesheet" type="text/css" href="templates/mint/styles.css?r= ' + Math.random() + '">');

    document.querySelectorAll('[contenteditable]').forEach(element => {
      element.addEventListener('blur', () => {
        undo.commit()
      })
    })

    undo.commit()

</script>
