<script src="assets/script.js" defer></script>

<main class="main">
	<div class="row">
		<div class="column">
			<div id="canvas" contenteditable="true">
				<div id="sharepic">
					<link rel="stylesheet" href="/tenants/de.css">
					<h1 id="text1" class="draggable selectable" onClick="set_active(event)">Hallo Welt</h1>
				</div>
			</div>
			<button id="create">Create</button>

		</div>
		<div class="column">
			<input type="number" name="width" id="width" value="800" step="1">
			<input type="number" name="height" id="height" value="600" step="1">

			<input type="range" min="0" max="100" value="50" class="slider" id="fontsize" oninput="font_size(event)">
		</div>
	</div>
	
	<div class="row">
		<img src="" id="output" style="border: 1px solid blue">
	</div>
	

</main>






