<div id="sharepic"
    style="background-color: #005437;; background-repeat: no-repeat; background-position: 0px 0px; width: 800px; height:800px;border:0;overflow:hidden;"
    data-width="800" data-height="800" data-zoom="1" class="selectable" data-cockpit="sharepic">
    <div style="    position: absolute; 
                    left: 50px; top:390px; 
                    font-size: 17px;
                    font-weight:bold;
                    font-family: 'PT Sans', sans-serif;
                    z-index: 20;
                    " contenteditable="true">
        mit Vorname Nachname, MdL
        <br>
        <br>
        <br>
        am Donnerstag, den 12. Januar 2024<br>
        um 19 Uhr<br>
        in dem Veranstaltungsort<br>
        Musterstraße 123 in Musterstadt
    </div>
    <div
        style="
                position: absolute; 
                top: 0px; left: 0px; 
                width: 380px; height:380px; 
                background-repeat: no-repeat;
                background-image: url('templates/vorort/logo.svg');
                background-position: -210px 4px;
                background-size:contain;
                ">
    </div>

    <div
        id="celebrity"
    style="
            position: absolute; 
            bottom: 0px; right: 0px; 
            width: 800px; height: 600px; 
            background-image: url(''); 
            background-repeat: no-repeat; 
            background-position: right bottom;
            z-index: 10;
            background-size:contain;">
</div>

   
    <div id="title"></div>
    <div id="name"></div>
    <div id="claim">VOR ORT</div>

   
    <div id="eyecatcher" style="display:none"></div>

    <style>

        @font-face {
            font-family: "GrueneType";
            src: url("assets/fonts/GrueneType.woff2") format("woff2");
        }

        #sharepic {
            background-size: cover;
            width: 500px;
            height: 400px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            font-family:  "GrueneType", sans-serif;
        }

        #title, #name, #claim{
            position: absolute;
            top: 0;
            left: 0;
            font-weight: strong;
        }


        #title{
            color: #F5F1E9;
            margin: 0 30px 5px 30px; 
            font-family: "GrueneType", sans-serif;
            z-index: 3;
            top: 57px; left: 95px;
            font-size:20px;
        }

        #title::before {
            content: "";
            position: absolute;
            top: 3px;
            left: -6px;
            background-color: #008939;
            transform: skew(-9deg, 0);
            width: calc(100% + 10px);
            height: calc(100% - 5px);
            z-index: -1;
        }

        #name{
            color: #F5F1E9;
            margin: 0 30px 5px 30px; 
            font-family: "GrueneType", sans-serif;
            z-index: 3;
            top: 83px; left: 47px;
            font-size: 37px;
        }

        #name::before {
            content: "";
            position: absolute;
            top: 5px;
            left: -10px;
            background-color: #008939;
            transform: skew(-9deg, 0);
            width: calc(100% + 19px);
            height: calc(100% - 9px);
            z-index: -1;
        }

        #claim{
            color: #005437;
            margin: 0 30px 5px 30px;
            font-family: "GrueneType", sans-serif;
            z-index: 3;
            top: 130px; left: 72px; 
            font-size: 80px;
        }

        #claim::before {
            content: "";
            position: absolute;
            top: 10px;
            left: -20px;
            background-color: #F5F1E9;
            transform: skew(-9deg, 0);
            width: calc(100% + 40px);
            height: calc(100% - 18px);
            z-index: -1;
        }
    </style>

    <script>
        document.getElementById("adder").style.display = "none";
    </script>
</div>