<div id="sharepic"
    style="	background-color: #8abd24;
			background-repeat: no-repeat;
			background-position: 0px 0px; 
			width: 800px; height:800px;
			border:0;
			overflow:hidden;"
    		data-width="800" data-height="800" data-zoom="1" class="selectable" data-cockpit="background">

    <div id="bar" style="
            position: absolute;
            width: 400px;
            height: 150%;
            background-color: hsl(159, 100%, 16%);
            transform: rotate(12deg);
            left: -340px;
            bottom: -50px;
            transform-origin: bottom right;
        "
        onclick="component.select(this)"
        data-cockpit="area"
           >
    </div>


    <div 
        class="draggable" 
        data-cockpit="greentext"  
        id="greentext"
        spellcheck="false"
        contenteditable="false"
        onmousedown="component.startDrag(event)"
    >
        <div class="m tannesand bw-right " contenteditable="true" style="
            align-self: flex-end;
        ">
            <div class="draggable">Für _HIER_DEIN_THEMA_</div>
        </div>
        <div class="s sandklee bw-right " style="margin-top:-7px" contenteditable="false" style="
            align-self: flex-end;
            margin-right: 30px;
        ">
            <div class="draggable">Dafür sind wir hier.</div>
        </div>
    </div>

    <div class="draggable selectable" id="logo" 
        contenteditable="false"
        data-cockpit="logo"
        onclick="component.select(this)"
        onmousedown="component.startDrag(event)"
        style="
            width: 226px;
            height: 226px;
            background-image: url('templates/de/logo.svg');
            background-size: contain;
            background-repeat: no-repeat;
            left: -70px;
            top: -52px;
            position: absolute;
        "
    ></div>

    <div id="patterns">
    </div>

    <script>
        document.querySelector('head').insertAdjacentHTML('beforeend', '<link rel="stylesheet" type="text/css" href="templates/bw-thema/styles.css?r= ' + Math.random() + '">');

        document.getElementById('tabsbuttons').style.display = 'flex'
        document.querySelector('#cockpit .show')?.classList.remove('show')
        document.getElementById('cockpit_search')?.classList.add('show')

        document.getElementById('logo_colors').style.display = 'none'
        document.getElementById('tab_btn_copyright').style.display = 'none'
        document.getElementById('tab_btn_freetext').style.display = 'none'
        document.getElementById('tab_btn_eyecatcher').style.display = 'none'
        document.getElementById('tab_btn_addpicture').style.display = 'none'
        document.getElementById('search_dalle').style.display = 'block'
        document.getElementById('search_pixabay').style.display = 'block'
    </script>
</div>

<style>
    @font-face {
        font-family: "GrueneType";
        src: url("assets/fonts/GrueneType.woff2") format("woff2");
    }
</style>

