<div id="sharepic"
    style="	background-color: #8abd24;
			background-repeat: no-repeat;
			background-position: 0px 0px; 
			width: 800px; height:800px;
			border:0;
			overflow:hidden;"
    		data-width="800" data-height="800" data-zoom="1" class="selectable" data-cockpit="background">

    <div id="bar" style="
            position: absolute;
            width: 400px;
            height: 150%;
            background-color: hsl(159, 100%, 16%);
            transform: rotate(12deg);
            left: -340px;
            bottom: -50px;
            transform-origin: bottom right;
        "
        onclick="component.select(this)"
        data-cockpit="area">
    </div>

    <div class="m sandklee withbar"
        style="
            z-index: 200;
            position: absolute;
            left: 56px;
            top: 46px;
        ">
        <div id="dafuer">Dafür haben wir uns eingesetzt.</div>
    </div>
    <div 
        class="" 
        data-cockpit="greentext"  
        id="greentext"
        spellcheck="false"
        contenteditable="false"
        style="
            top: unset;
            left: unset;
            right: 60px;
            bottom: 40px;
        "
    >
        <div class="s tannesand bw-right" contenteditable="true" style="
            align-self: flex-end;
            margin-right: 30px;
        ">
            <div>Buslinie 106 nach Musterlingen</div>
        </div>
    </div>

    <div class="draggable selectable" id="logo" 
        contenteditable="false"
        data-cockpit="logo"
        onclick="component.select(this)"
        onmousedown="component.startDrag(event)"
        style="
            width: 300px;
            height: 300px;
            background-image: url('templates/de/logo.svg');
            background-size: contain;
            background-repeat: no-repeat;
            left: -147px;
            top:  176px;
            position: absolute;
        "
        onclick="component.select(this)"
        data-cockpit="area"
    ></div>

    <div id="patterns">
        <div
            data-class="selectable copyright" 
            data-cockpit="copyright" 
            data-id="copyright"
            data-max="1"
            contenteditable="true" spellcheck="false" 
            onclick="component.select(this)"
            style="
                font-size: 14px;
                color: #000000;
                z-index: 10;
            ">&nbsp;Hinweis
        </div>
    </div>

    <script>
        document.querySelector('#sharepic').insertAdjacentHTML('beforeend', '<link rel="stylesheet" type="text/css" href="templates/bw-bilanz/styles.css?r= ' + Math.random() + '">');

        document.getElementById('tabsbuttons').style.display = 'flex'
        document.querySelector('#cockpit .show')?.classList.remove('show')
        document.getElementById('cockpit_search')?.classList.add('show')

        document.getElementById('logo_colors').style.display = 'none'
        document.getElementById('tab_btn_copyright').style.display = 'none'
        document.getElementById('tab_btn_freetext').style.display = 'none'
        document.getElementById('tab_btn_eyecatcher').style.display = 'none'
        document.getElementById('tab_btn_addpicture').style.display = 'none'
        document.getElementById('search_dalle').style.display = 'block'
        document.getElementById('search_pixabay').style.display = 'block'

        if( typeof bwstory != 'undefined' && bwstory == true) {
            document.querySelector('[title="Instagram"]').click();
        }
    </script>
</div>

<style>
    @font-face {
        font-family: "GrueneType";
        src: url("assets/fonts/GrueneType.woff2") format("woff2");
    }
</style>

